@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

$primary-color: black;
$opacity-bg: rgba(255, 255, 255, 0.95);

$primary-font: 'Montserrat', sans-serif;

$primary-color-1: #1d90f3;
$primary-color-2: #38a3ff;
$primary-color-3: #5db1f8;

$grey-color-1: #2c2c2c;
$grey-color-2: #67696d;
$grey-color-3: #989ea7;

$huge: 1200px;
$lage: 992px;
$medium: 768px;
$small: 576px;
$tiny: 360px;
